html {
    background-color: #ADC178;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jeu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    min-height: 100px;
    background-color: #DDE5B6;
    padding: 20px;
    color: #6C584C;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    margin: 0;
}

.titre {
    font-family: 'arial', sans-serif;
}

.description {
    font-family: 'arial', sans-serif;
}

.boutton {
    font-family: 'arial', sans-serif;
    color: #6C584C;
    background-color: #F0EAD2;
    border: none;
    padding: 10px;
}

.zoneboutton {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding-bottom: 20px;
}

.image {
    padding-bottom: 20px;
    width: 500px;
    min-height: 100px;
}

.video {
    padding-bottom: 20px;
    width: 500px;
    min-height: 100px;
}

.rien {
    display: none;
}

@media screen and (max-width: 500px) { 
    .jeu {
        width: 100vw;
        height: 100vh;
        padding: 4vh;
    }
  }